.error-container {
    .error-content {
        h1 {
            margin-top: 10px;
            font-size: 48px;
        }

        p {
            margin-bottom: 10px;
        }

        a {
            display: inline-block;
        }
    }
}